@use '../../../global/styles/index' as *;
.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--font-300);
  font-weight: 400;
  &--primary {
    background-color: var(--clr-blue);
    color: white;
    transition: all 0.2s;

    &:hover {
      background-color: var(--clr-blue-light);
    }
  }

  &--inverse {
    background-color: transparent;
    color: var(--clr-blue);
    transition: all 0.2s;
    border: 1px solid var(--clr-blue);

    &:hover {
      background-color: var(--clr-grey-5);
    }
  }

  &--collapse {
    box-shadow: var(--shadow-light);
    width: 100%;

    svg {
      font-size: var(--font-600);
    }
  }

  &--sm {
    padding: rem(8) rem(14);
  }

  &--md {
    padding: rem(8) rem(18);
  }

  &--lg {
    padding: rem(10) rem(22);
  }

  &:disabled {
    background-color: var(--clr-blue-light);
    color: var(--clr-grey-2);
  }
}
