@use '../../../global/styles/index' as *;
.nav {
  background-color: var(--clr-blue);
  padding: rem(20) rem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: white;
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: var(--font-700);
  }

  &__links {
    display: flex;
    align-items: center;
    gap: rem(40);
    margin-right: rem(40);

    @include breakpoint-down(medium) {
      margin-right: 0;
      gap: 0;
    }
  }

  &__link {
    padding: rem(20) rem(20);

    color: white;
    font-size: var(--font-400);

    transition: all 0.4s;

    &:hover {
      background-color: var(--clr-blue-light);
    }
  }

  &__profile {
    display: block;
    margin-top: rem(5);
    height: 100%;
    cursor: pointer;
    svg {
      width: rem(35);
      color: white;
    }
  }
}
