@use '../../../global/styles/index' as *;

.chart-wrapper {
  padding: rem(10) rem(20);
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-down(mobile) {
    padding-inline: 0;
    align-items: stretch;
  }

  &--bar {
    .chart-title {
      margin-bottom: rem(40);
    }
  }
}

.chart-title {
  font-size: var(--font-800);
  letter-spacing: 1.5px;
  padding-bottom: rem(5);
  margin-bottom: rem(20);
  font-weight: 400;
  position: relative;
  border-bottom: 2px solid var(--clr-blue);
}
