@use '../../../global/styles/index' as *;
.chart {
  &-tooltip {
    background-color: white;
    padding: rem(5) rem(10);
    color: var(--clr-grey-1);
  }

  &-label {
    &__container {
      width: 20px;
      word-wrap: break-word;
    }
    font-size: rem(10);
  }
}
