@use '../../../global/styles/index' as *;
.modal {
  position: relative;

  background-color: white;

  &__close {
    position: absolute;
    top: rem(10);
    cursor: pointer;
    right: rem(10);
    color: white;
    background-color: var(--clr-red);
    font-size: rem(12);
    width: rem(22);
    height: rem(22);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include breakpoint-down(mobile) {
      top: rem(12);
      right: rem(5);
    }
  }

  &__header {
    background-color: var(--clr-blue);

    padding: rem(10) rem(15);
    width: 100%;
    color: white;

    h2 {
      font-weight: 300;
      font-size: var(--font-500);
      letter-spacing: 1.5px;
    }
  }

  &__content {
    padding: rem(10) rem(15);
  }
}
