@use '../../../global/styles/index' as *;

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  transform: translateX(300px);
  width: min(rem(300), 75vw);
  padding: rem(30) rem(0);
  transition: all 0.6s;
  background-color: var(--clr-grey-3);

  &--active {
    transform: translateX(0);
  }
}
