@use '../../../global/styles/index' as *;

.dropdown {
  &__toggle {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(5);
    margin-top: rem(15);
    border: none;
    box-shadow: var(--shadow-light);

    svg {
      width: rem(20);
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.55s linear;

    &--active {
      max-height: rem(500);
    }
  }
}
