@use '../../../../global/styles/index' as *;
.trending-header {
  max-width: rem(1100);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: rem(60);

  &__title {
    font-size: var(--font-800);
    text-transform: uppercase;
    color: var(--clr-grey-1);

    font-weight: 300;
  }

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: rem(20);
    &__title {
      align-self: flex-start;
    }
    .select {
      align-self: flex-end;
    }
  }
}
