@use '../../../../global/styles/index' as *;

.profile-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-block: rem(15);
  border-radius: 7px;
  box-shadow: var(--shadow-light);
  gap: rem(20);

  transition: all 0.3s;
  cursor: pointer;

  position: relative;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-dark);
  }

  .profile-head {
    &__avatar {
      width: rem(100);
    }
    &__username {
      font-size: var(--font-400);
      font-weight: 400;
    }
  }
}
