@use '../../../../global/styles/index' as *;
.profile-details {
  display: grid;
  max-width: rem(1100);
  margin-inline: auto;
  grid-template-areas:
    'info atributes  atributes'
    'info following   following';
  grid-template-columns: 1fr 2fr;
  gap: rem(40);

  @include breakpoint-down(medium) {
    grid-template-areas:
      'atributes atributes'
      'info info';
    grid-template-columns: 1fr;
    max-width: rem(900);

    .profile-following {
      display: none;
    }
  }
  @include breakpoint-down(small) {
    grid-template-areas:
      'atributes'
      'info'
      'following';

    .profile-following {
      display: flex;
    }
  }
}

.profile-atributes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(40);
  width: 100%;
  transition: all 0.4s;
  grid-area: atributes;

  @include breakpoint-down(medium) {
    gap: rem(15);
    grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
  }

  @include breakpoint-down(small) {
    grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
  }

  @include breakpoint-down(mobile) {
    grid-template-columns: 1fr;
  }
  &__col {
    gap: rem(20);

    display: grid;

    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(small) {
      grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
    }
    @include breakpoint-down(mobile) {
      grid-template-columns: repeat(auto-fit, minmax(rem(150), 1fr));
    }
  }
}
