@use '../../../../global/styles/index' as *;

.profile-repos {
  &__heading {
    margin-bottom: rem(20);

    &-sort {
      display: none;
      font-size: rem(30);
      @include breakpoint-down('small') {
        display: flex;
        align-items: center;
      }

      .heading-sort__btn {
        width: rem(40);
        cursor: pointer;
      }

      span {
        font-size: var(--font-400);
        cursor: pointer;
      }

      svg {
        width: rem(16);
      }
    }
  }

  .table {
    max-width: rem(1000);
    &-wrapper {
      margin-inline: auto;
    }
  }
}
