@use '../../../../global/styles/index' as *;
.profile-following {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));

  transition: all 0.4s;
  width: 100%;
  gap: rem(40);

  grid-area: following;

  @include breakpoint-down(medium) {
    grid-template-columns: repeat(auto-fit, minmax(rem(100), 1fr));
    justify-content: center;
    gap: rem(20);
  }

  @include breakpoint-down(small) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
