@use '../../global/styles/index' as *;

.search-bar {
  width: min(70vw, rem(500));
  position: relative;
  margin-inline: auto;
  margin-top: rem(10);

  &__input {
    padding-inline: rem(15);
    max-width: 100%;
    border-radius: 20px;
    height: rem(50);
    border: none;
    box-shadow: var(--shadow-light);
  }

  form {
    position: relative;
  }

  &__button {
    outline: none;
    position: absolute;
    cursor: pointer;
    top: rem(10);
    right: rem(10);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(30);
    height: rem(30);
    font-size: rem(20);
    font-weight: 600;
    border: 0;
    background-color: var(--clr-blue-light);
    color: white;

    &--loading {
      margin-right: rem(30);
    }
  }

  .spinner {
    right: rem(5);
    left: auto;
    top: rem(12);
  }
}
