@use '../../../global/styles/index' as *;
.login-form {
  width: min(rem(300), 80vw);
  padding: rem(15) rem(20);
  box-shadow: var(--shadow-light);

  &__link {
    text-align: center;
    a {
      display: block;
    }
  }

  .btn {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
}
