@use '../../../global/styles/index' as *;
.register-form {
  width: min(rem(300), 80vw);
  padding: rem(15) rem(20);
  box-shadow: var(--shadow-light);
}

.btn {
  margin-top: rem(20);
  margin-bottom: rem(20);
}
