@use '../../../global/styles/index' as *;
.layout {
  padding: rem(40) rem(30);
  position: relative;
  width: 100%;
  min-height: 89.9vh;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      padding-bottom: rem(5);
      border-bottom: 3px solid var(--clr-blue);
      font-weight: 300;
      margin-bottom: rem(20);
      padding-bottom: rem(5);
      text-transform: uppercase;
      position: relative;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: var(--font-800);
    }
  }
  &--grey {
    background-color: var(--clr-grey-5);
  }
}
