@use '../../../global/styles/index' as *;
.pagination {
  display: flex;
  gap: rem(10);

  @include breakpoint-down(mobile) {
    gap: 0;
  }

  &__container {
    position: absolute;
    bottom: 2%;
    width: 100%;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    gap: rem(10);

    @include breakpoint-down(mobile) {
      .pagination__btn {
        width: rem(27);
      }
    }
  }
  button {
    padding: rem(6) rem(10);
    background-color: white;
    border: 1px solid var(--clr-grey-4);
    outline: none;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-blue);
      color: white;
      svg {
        color: white;
      }
    }
  }

  &__btn {
    width: rem(35);
    border-radius: 5px;
  }

  &-nav {
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--clr-grey-1);

      width: rem(40);

      @include breakpoint-down(small) {
        width: rem(40);
      }
      @include breakpoint-down(mobile) {
        width: rem(35);

        &--left:first-child,
        &--right:last-child {
          display: none;
        }
      }
    }
    &__icon {
      width: rem(18);
      color: black;
    }
  }
  .active {
    background-color: var(--clr-blue);
    color: white;
  }
}
