@use '../../../../global/styles/index' as *;

.profile-head {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: rem(150);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--shadow-light);

    margin-bottom: rem(10);

    @include breakpoint-down(small) {
      width: rem(80);
    }
  }

  &__username {
    font-size: var(--font-500);
    font-weight: 600;
    text-align: center;
    margin-bottom: rem(10);
  }

  &__link {
    transition: all 0.3s;
    &:hover {
      color: var(--clr-blue);
    }
  }

  &__name {
    text-align: center;
    font-size: var(--font-500);
  }
}
