@use '../../../../global/styles/index' as *;

.profile-following__list {
  display: flex;
  flex-direction: column;
  gap: rem(25);

  border-radius: 5px;
  padding: rem(15) rem(30);
  max-height: rem(350);
  overflow-y: auto;
  box-shadow: var(--shadow-light);

  &-title {
    font-size: var(--font-700);
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: rem(10);
    color: var(--clr-grey-1);
  }

  .profile {
    display: flex;
    gap: rem(20);
    font-size: var(--font-300);

    &-head {
      flex-direction: row;
      align-items: center;
      flex: 1;
      gap: rem(10);
      &__avatar {
        border-radius: 50%;
        object-fit: cover;

        outline: 1px solid black;
        width: rem(50);

        @include breakpoint-down(medium) {
          width: rem(40);
        }
        @include breakpoint-down(mobile) {
          width: rem(35);
          height: rem(35);
        }
      }
      &__username {
        font-size: var(--font-300);
        font-weight: 300;
      }
    }

    &__link {
      align-self: center;
    }
  }
}
