@use '../../../global//styles/index' as *;
.spinner {
  border-radius: 50%;
  position: absolute;
  margin-inline: auto;
  top: 50%;
  left: 0;
  right: 0;

  &--sm {
    border: 5px solid var(--clr-grey-4);
    border-top-color: var(--clr-blue);

    width: rem(25);
    height: rem(25);
  }

  &--md {
    border: 10px solid var(--clr-grey-4);
    border-top-color: var(--clr-blue);
    width: rem(50);
    height: rem(50);
  }

  &--lg {
    border: 12px solid var(--clr-grey-4);
    border-top-color: var(--clr-blue);

    width: rem(75);
    height: rem(75);
    @include breakpoint-down(small) {
      width: rem(50);
      height: rem(50);
    }
  }

  animation: loading 1s linear infinite;
}
