@use '../../../global/styles/index' as *;
.filter-list {
  background-color: white;
  padding: rem(15);
}

.filter-list__item {
  padding: rem(15);
  background-color: white;
  cursor: pointer;
  min-width: rem(200);
  text-align: center;

  &:hover {
    background-color: var(--clr-grey-5);
  }

  &--disabled {
    background-color: var(--clr-blue);
    pointer-events: none;
  }
}
